<header>
  <nav class="bg-gruvbox-bg2 font-mono pl-2 h-6">
    <%= live_patch "snippets", to: Routes.snippets_index_path(@conn, :index),  class: "text-gruvbox-fg font-medium" %>

    <div>
      <span class="text-gruvbox-fg font-medium">Snippets</span>
      <span class="text-gruvbox-fg font-medium">Snippets</span>
      <span class="text-gruvbox-fg font-medium">Snippets</span>
    </div>
  </nav>
</header>
