@import "utilities/variables";

.editor {
  height: $body-height-without-cmd-buffer;
  overflow-wrap: normal;

  div > textarea {
    &::-moz-selection {
      @apply bg-gruvbox-bg2 bg-opacity-50;
    }

    &::selection {
      @apply bg-gruvbox-bg2 bg-opacity-50;
    }

    @apply
    font-mono 
    font-medium 
    border-transparent
    bg-transparent
    text-gruvbox-fg 
    w-full
    outline-none
    p-4
    whitespace-pre
    overflow-x-auto
    overflow-y-auto
    resize-none
    placeholder-gruvbox-bg3
    flex-1;
  }
}

.without-cmd {
  height: $body-height-without-cmd-buffer;
}

.with-cmd {
  height: $body-height-with-cmd-buffer;
}

.snippets-list {
  @apply 
  overflow-y-auto
  bg-gruvbox-bg
  border-r
  border-gruvbox-bg1
  hidden 
  divide-y
  divide-gruvbox-bg2;
}